:root {
  --back: #CD9489;
  --theme: #1912FE;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, min(100%, 30rem));
  min-height: 100vh;
  place-items: start;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  color: var(--theme);
  background: var(--back);
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

.glitchButton {
  position: fixed !important;
  top: 3% !important;
  right: 6% !important;
  z-index: 100 !important;
}

a {
  color: inherit;
}

/* Core styles/functionality */
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab__content {
  max-height: 0;
  overflow-y: auto;
  transition: all 0.35s;
}

.tab input:checked~.tab__content {
  max-height: 16rem;
}

/* Visual styles */
main {
  color: var(--theme);
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin-top: 6em;
}

.tab__label,
.tab__close {
  display: flex;
  color: var(--back);
  background: var(--theme);
  cursor: pointer;
}

.tab__label {
  justify-content: space-between;
  padding: 1rem;
  -webkit-tap-highlight-color: transparent;
}

.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: transform 0.35s linear;
}

.head-title {  /* Custom section-1 label */
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 1.5em;
  justify-content: flex-end;
  outline: none;
}

.head-title::after { /* Change to image for section-1 */
  content: "";
  width: 1.35em;
  height: 1.35em;
  margin-left: 1em;
  background: url('serenity.gif') no-repeat center center;
  background-size: contain;
}

.tab input:checked+.tab__label::after {
  transform: rotate(270deg);
  transition: transform 0.35s linear;
}

.tab__content section {
  margin: 0;
  padding: 1rem;
}

.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

/* Arrow animation */
.tab input:not(:checked)+.tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }

  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}

/* Remove focus outline */
.tab input:focus,
.tab__label:focus,
.head-title:focus {
  outline: none;
}
.tab input:checked:focus + .tab__label {
  outline: none;
}

code {
  background: var(--theme);
  color: var(--back);
  font-weight: bold;
  padding: 0.125em;
  border-radius: 0.25em;
  font-family: "Courier New", Courier, monospace;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  display: block;
  overflow-x: auto;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 600px) {
  table {
    font-size: 0.75em;
  }
}

th, td {
  padding: 0.5em;
  border-bottom: 1px solid var(--theme);
  text-align: left;
  word-wrap: break-word;
}

th {
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--theme);
  font-weight: bold;
  font-size: 1.17em;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.icon {
  font-size: 1em;
}

section ul {
  list-style-type: disc;
}

section ul li {
  margin-bottom: 0.625em;
}